    .container {
        width: 694px;
        height: 585px;
        border: 1px solid black;
        float: left;
        margin-right: 20px;
        padding: 10px;
        padding-left: 25px;
      }
  
      .item {

        padding: 30px;
        border: 1px solid gray;
        background-color: lightblue;
        margin-bottom: 5px;
        cursor: move;
        margin: 20px;
      }
  
      .item.dragging {
        opacity: 0.5;
      }
  
      #container1 {
        background-color: lightblue;
      }
      #container2 {
        background-color: lightgreen;
      }
  
      #message {
        margin-top: 80px;
        font-weight: bold;

      }

    #resetButton{
        margin-top: 10px;
        border-radius: 6px;
        background-color:darkgreen;
        color: white;
        margin-left: 720px;
        padding: 10px;
    }
    #resetButton:hover{
        background-color: red;
        cursor: pointer;
    }
    @media (max-width: 600px) {
        .container {
          width: 100%;
          float: none;
          margin-right: 0;
          margin-bottom: 20px;
        }
        #resetButton{
            margin-left: 264px;
        }
        
      }
      /* for Ipad Design */
      @media (max-width: 820px) {
        .container {
            width: 293px;
            height: 410px;
          float: left;
          margin-right: 70px;
          margin-bottom: 20px;
        }
        #resetButton{
            margin-left: 330px;
        }
        
      }
/* For Smartphone */
      @media (max-width: 412px) {
        *{
            margin: 10px;
        }
        .container {
            width: 116px;
            height: 304px;
          /* float: left; */
          /* margin-right: 70px;
          /* margin-bottom: 20px; */
        }
        .item{
            padding:0px;
            font-size: small;
        }
        #container1{
            width: 63px;
            padding: 20px;
            display:inline-block;
            
        }
        #container2{
            float: right;
            width: 70px;
            height: 338px;  
        }
        #resetButton{
            margin-left: 126px;
        }
        
      }
  
      /*For Browser Compatibility */
      .item {
        -webkit-user-drag: element;
      }
